h1{
	color: #C6D7EE;
	font-size: 50px;
	text-align: center;
}
body{
	background-color: #191970;
	font-family: "Montserrat Alternates", sans-serif;
	
}
p{
	font-size: 30px;
}
a{
	font-size: 24px;
	
}